profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    conda {
        conda.enabled = true
    }
}

process {
    cpus = 2
    memory = '4 GB'
    withName: FastQC {
        conda = 'envs/fastqc.yml'
    }
    withName: Fastp {
        conda = 'envs/fastp.yml'
    }
    withName: HISAT2_Align {
        conda = 'envs/hisat2.yml'
        cpus = 8
        maxForks = 3
    }
    withName: SortBAM {
        conda = 'envs/samtools.yml'
    }
    withName: FeatureCounts {
        conda = 'envs/subread.yml'
    }
    withName: EdgeRAnalysis {
        conda = 'envs/r-analysis.yml'
    }
}

params {
    data_dir = './data'
    results_dir = './results'
    hisat2_index_dir = './data/genome'
    hisat2_index_prefix = 'sacCer3'
    annotation = './data/Saccharomyces_cerevisiae.R64-1-1.gtf'
    samplesheet = './metadata/samples.csv'
    analysis_container = 'yeast-oxidative-stress-analysis:latest'
}
